*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

.clearfix:after {
	content: " ";
	/* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {
	border: red 3px solid;
}

body input:required:valid, body textarea:required:valid {
	border: green 3px solid;
}

body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

img {

}

.top_header {
	width: 100%;
	background: url(../images/banner_bg.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-size: 100% 100%;
}



.header_topline {
	color: #ffffff;
	background: rgba(80, 92, 99, 0.8);
	padding: 30px 0;
	position: fixed;
	top:0px;
	left:0px;
	right:0px;
	z-index: 1;
}

/* .bg-color {

	position: relative;
	z-index: 1;
} */

.logo {
	float: left;
	line-height: 65px;
}



.main_mnu {
	color: #fff;
}
.main_mnu a {
	color: #ffffff;
	padding: 12px;
	margin-left: 5px;
	display: block;
}
.main_mnu a:hover {
	color: #4BCAFF;
	padding: 10px;
	margin-left: 5px;
	border: 2px solid #4BCAFF;
	border-radius: 3px;
}
.main_mnu ul {
	list-style-type: none;
	text-transform: uppercase;
	float: right;
	position: relative;
	z-index: 10;
}
.main_mnu li {
	display: inline-block;
	position: relative;
	z-index: 11;
}
.main_mnu_button {
	color: #fff;
	margin-top: 8px;
	padding: 8px 15px 0;
	border: medium none;
	background-color: transparent;
	font-size: 26px;
}



.header_title {
	padding: 10%;
	margin-top:10%;
	text-align: center;
	*\position: relative;
	z-index: 2;
}
.header_title h1 {
	font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-size: 2.2em;
	font-weight: 300;
	text-transform: uppercase;
	background: #4B565D;
	padding: 10px;
	width: 70%;
	margin: 0 auto 2% auto;
}
.header_title h2 {
	font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-size: 2.2em;
	font-weight: 300;
	text-transform: uppercase;
	background: #4B565D;
	padding: 10px;
	*\width: 80%;
	margin: 0 auto 2% auto;
}



.services {
	background-color: #4BCAFF;
	padding: 25px;
}
.srv_main_title {
	font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-size: 1.7em;
	font-weight: 300;
	text-transform: uppercase;
	padding: 10px 10px 0;
	text-decoration: underline;
}
.srv_sub_block {
	padding: 10px;
	margin: 5px;
}
.srv_sub_title {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #FFF;
	font-size: 1.4em;
	text-transform: uppercase;
}
.srv_txt {
	font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-size: 0.9em;
	font-weight: 300;
	margin: 10px;
}



.icon {
	background-image: url(../images/img-sprite.png);
	background-repeat: no-repeat;
	height: 80px;
	width: 60px;
	display: inline-block;
}
.icon-coffe {
	background-position: left top;
}
.icon-instant {
	background-position: -70px top;
}
.icon-serious {
	background-position: -160px top;
}
.icon-frame {
	background-position: -235px top;
}


.portfolio {
	background-color: #ffF;
	padding: 25px;
	color: #000;
}
.portf_main_title {
	font-family: 'caviar_dreamsregular';
	font-size: 1.7em;
	font-weight: 300;
	text-transform: uppercase;
	padding: 5px 10px 0;
	margin-top: 5px;
	text-decoration: underline;
	float: left;
}
.portf_main_mnu {
	background-color: #fff;
	color: #000;
	margin-top: -25px;
}
.portf_main_mnu a {
	color: #000;
	padding: 12px;
	margin-left: 5px;
	display: block;
}
.portf_main_mnu a:hover {
	color: #4BCAFF;
	padding: 10px;
	margin-left: 5px;
	border: 2px solid #4BCAFF;
	border-radius: 3px;
}
.portf_main_mnu ul {
	list-style-type: none;
	float: right;
	text-transform: uppercase;
	position: relative;
	z-index: 4;
}
.portf_main_mnu ul li {
	display: inline-block;
	position: relative;
	z-index: 5;
}
.portf_main_mnu_button {
	color: #000;
	margin-top: 25px;
	padding: 8px 15px 0;
	border: medium none;
	background-color: transparent;
	font-size: 26px;
	position: relative;
	z-index: 14;
}
.portf_img{
	padding-bottom: 30px;
	align:center;
}
.portf_img img{
	height: auto;
	width:23%;
	margin-left: 5px;
	margin-top:8px;
	align:center;
}


.def-sect {
	background-color: #4B565D;
	padding: 25px;
	color: #fff;
	align:center;
}
.def-sect_main_title {
	font-family: 'caviar_dreamsregular';
	font-size: 1.7em;
	font-weight: 300;
	text-transform: uppercase;
	padding: 5px 10px 0;
	margin-top: 5px;
	text-decoration: underline;
}
.def-sect_txt {
	font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-size: 0.9em;
	font-weight: 300;
	margin: 10px;
	padding-top:10px;
}
.def-sect_video{
	  position: relative;
	  padding-bottom: 56.25%; 
	  padding-top: 30px;
	  height: 0;
	  overflow: hidden;
}
.def-sect_video iframe{
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
}
.btn_visit button{
	text-transform: uppercase;
	color:#353f46;
	background: #4B565D;
	padding: 10px 30px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 30px;
	margin-bottom: 10px;
	border: 2px solid #353f46;
	border-radius: 3px;
}
.btn_visit button:hover {
	text-transform: uppercase;
	color:#4BCAFF;
	background: #4B565D;
	padding: 10px 30px;
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 10px;
	border: 2px solid #4BCAFF;
	border-radius: 3px;
}



.twite {
	background-color: #4BCAFF;
	padding: 25px;
	color: #fff;
	align:center;
}
.twite_main_title {
	font-family: 'caviar_dreamsregular';
	font-size: 1.7em;
	font-weight: 300;
	text-transform: uppercase;
	padding: 5px 10px 0;
	margin-top: 5px;
	text-decoration: underline;
}
.twite_txt {
	font-family: "SegoeUILight";
	color: #FFF;
	font-size: 1.4em;
	font-weight: 200;
	margin: 10px;
	padding-top:10px;
}
.twite-logo{
	float: right;
	margin-top: -45px;
}


.john-doe {
	width: 100%;
	background: url(../images/join_bg.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-size: 100% 100%;
	padding: 50px;
	padding-bottom:170px;
	color: #fff;
	align:center;
}
.john-doe_main_title {
	font-family: 'caviar_dreamsregular';
	font-size: 1.7em;
	font-weight: 300;
	text-transform: uppercase;
	padding: 5px 10px 0;
	margin-top: 5px;
	text-decoration: underline;
}
.john-doe_txt {
	font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-size: 0.9em;
	font-weight: 300;
	margin: 10px;
	padding-top:10px;
}
.btn_doe button{
	text-transform: uppercase;
	color: white;
	background: transparent;
	padding: 15px 30px;
	margin-left: 5px;
	margin-bottom: 10px;
	border: 2px solid white;
	border-radius: 3px;
}
.btn_doe button:hover {
	text-transform: uppercase;
	color:#4BCAFF;
	background: transparent;
	padding: 15px 30px;
	margin-left: 5px;
	margin-bottom: 10px;
	border: 2px solid #4BCAFF;
	border-radius: 3px;
}
.icon_j-doe {
	background-image: url(../images/img-sprite.png);
	background-repeat: no-repeat;
	padding: 15px 15px;
	height: 50px;
	width: 20px;
	display: inline-block;
}
.icon-twitter {
	background-position: -335px -10px;
}
.icon-google {
	background-position: -395px -10px;
}
.icon-ball {
	background-position: -445px -10px;
}
.icon-tea {
	background-position: -10px -81px;
}
.icon-testis {
	background-position: -88px -81px;
}


.testis {
	background-color: #fff;
	padding: 55px;
	color: #757F85;
	align:center;
}
.testis_main_title {
	font-family: 'caviar_dreamsregular';
	font-size: 1.7em;
	font-weight: 300;
	text-transform: uppercase;
	padding: 5px 10px 0;
	margin-top: 5px;
	text-decoration: underline;
}
.testis_txt {
	font-family: "SegoeUILight";
	color: #757F85;
	font-size: 1.4em;
	font-weight: 200;
	margin: 10px;
	padding-top:10px;
}
.testis_sub_txt {
	font-family: "SegoeUILight";
	color: #55CCFF;
	font-size: 0.8em;
	font-weight: bold;
	margin: 10px;
	padding-top:10px;
}

.testis-logo{
	float: right;
	margin-top: -45px;
}


.contacts {
	width: 100%;
	background: url(../images/footer_bg.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-size: 100% 100%;
	padding: 50px;
	padding-bottom:70px;
	color: #fff;
	align:center;
}
.cont_main_title {
	font-family: 'caviar_dreamsregular';
	font-size: 1.7em;
	font-weight: 300;
	text-transform: uppercase;
	padding: 5px 10px 0;
	margin-top: 5px;
	text-decoration: underline;
}
.cont_main_txt {
	font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-size: 0.9em;
	font-weight: 300;
	margin: 40px 0px;
	padding-top:10px;
}
.btn_message button{
	text-transform: uppercase;
	color:#fff;
	background: #4BCAFF;
	padding: 10px 100px;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px solid #4BCAFF;
	border-radius: 2px;
}
.btn_message button:hover {
	text-transform: uppercase;
	color:rgb(223, 235, 240);
	background: #4BCAFF;
	padding: 10px 100px;
	margin-left: 10px 100px;
	margin-bottom: 10px;
	border: 1px solid #ffF;
	border-radius: 2px;
}
.label-form_msg{
	font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 20px;
	margin-left: 10px;
	margin-top: 15px;
}
.form-field{
	font-family: 'caviar_dreamsregular';
	font-size:40px;
	color:white;
    background:transparent;
	width: 100%;
	height:60px;
	margin: 10px 0px;
	padding:10px;
	border:1px solid #ffF;
	border-radius:1px;
}
textarea{
	font-family: 'caviar_dreamsregular';
	font-size:30px;
	color:white;
	text-align:left;
    background:transparent;
    width: 100%;
	height:215px;
	margin:10px 0px;
	padding:10px;
	border:1px solid #ffF;
	border-radius:1px;
}